.commentSide {
    height: calc(100vh - 60px);
    width: 341px;
    box-shadow: rgba(0, 0, 0, 0.12) -2px 0px 4px;
    min-height: 520px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.header {
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.2);
    display: flex;
    height: 48px;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    width: 100%;
}
.tiktokIcon {
    height: fit-content;
    padding: 6px;
    background: #eee;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 8px;
}
.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 64px;
    padding: 3px 14px;
    border-top: 0.5px solid rgba(22, 24, 35, 0.12);
    background-color: #fff;
}
.inputComment {
    background-color: inherit;
    height: 32px;
    outline: none;
    caret-color: var(--primary-color);
    font-size: 13px;
    flex: 1 1 auto;
    margin: 2px 8px 2px 0px;
    resize: none;
}
.sendIcon {
    width: 22px;
    height: 22px;
    margin-left: 8px;
}
