@import "../../../GlobalStyle/GlobalStyle.scss";
$w-375: 375px;

.loginModal__icon {
    position: absolute;
    left: 12px;
    font-size: 20px;
}
.platform-list {
    width: $w-375;
    margin: auto;
    padding: 0;
    list-style-type: none;
}
.platform {
    color: rgb(22, 24, 35);
    font-weight: 600;
    border: 1px solid rgba(22, 24, 35, 0.12);
    font-size: 15px;
    border-radius: 0px;
    padding: 0px 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 44px;
    position: relative;
    cursor: pointer;
    margin-bottom: 16px;
    word-break: keep-all;
    white-space: nowrap;
    background: rgb(255, 255, 255);
}
