.wrapperStyle {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(226px, 1fr));
    width: auto;
    max-width: 720px;
    justify-items: center;
    padding: 20px 0;
    gap: 18px;
    font-family: "IBM Plex Sans";
}
.infoDiv {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
    padding: 30px 12px 20px;
}
.followBtnStyle {
    min-width: 164px;
    min-height: 36px;
    font-size: 18px;
    line-height: 25px;
    padding: 6px 8px;
}
.videoItems {
    position: relative;
    height: 302px;
}
