@import "../Header.module.scss";

.header__right-btn {
    display: flex !important;
    align-items: center;
    padding: 0 16px !important;
    min-width: 110px;
    height: 36px;
}
.upload-btn:hover {
    background-color: $bg-search-bar !important;
}
