.wrapperStyle {
    font-family: "IBM Plex Sans";
    margin: auto;
    width: 624px;
}
.followBtn {
    border: 1px solid var(--primary-color);
    font-weight: bold;
    min-height: 28px;
    min-width: 88px;
    &:hover {
        background-color: var(--primary-color-hover);
    }
}
