@import "../Modals.module.scss";
$inpTxt-bg: rgba(22, 24, 35, 0.06);
$h-inp: 44px;

.container {
    width: $w-375;
    margin: 0 auto 16px;
}
.header {
    color: rgb(22, 24, 35);
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.link {
    text-decoration: none;
    color: rgba(22, 24, 35, 0.6) !important;
    font-weight: 600;
}
.inputText {
    border: none;
    background-color: unset;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    color: rgb(22, 24, 35);
    outline: none;
    font-size: 16px;
    height: $h-inp;
    caret-color: rgb(254, 44, 85);
    width: 100%;
}
// enter infor
.enterInfo {
    display: flex;
    background-color: $inpTxt-bg;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    align-items: center;
    margin-bottom: 10px;
}
#country-phone {
    background-color: unset;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
.spanner {
    width: 1px;
    height: 30px;
    background: rgba(22, 24, 35, 0.12);
    margin: 0 4px;
}

// enter code
.inpCode {
    border-right: 2px solid #ccc;
}
.disableSendCode {
    border: none;
    outline: none;
    color: rgba(22, 24, 35, 0.34);
    cursor: not-allowed !important;
    padding: 0 16px;
    height: $h-inp;
    white-space: nowrap;
    font-size: 16px;
}
.enableSendCode {
    @extend .disableSendCode;
    color: rgba(22, 24, 35);
    cursor: pointer !important;
}
.submitBtn {
    border: none;
    color: rgba(22, 24, 35, 0.34);
    background-color: $inpTxt-bg;
    pointer-events: none;
    font-size: 16px;
    width: 100%;
    height: $h-inp + 4px;
    font-weight: 700;
    margin-top: 20px;
}
