// @import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
$header-h: 60px;

:root {
    --primary-color: rgb(254, 44, 85);
    --primary-color-hover: #fe2c550f;
    --text-color: #333;
    --link-color: #2b5db9;
    --link-hover: #16182308;
    --bg-color: #fff;
    --lighter-text-color: #16182380;
    --header-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}
.dark {
    --text-color: rgba(255, 255, 255, 0.9);
    --link-color: #8fbee9;
    --link-hover: #ffffff1f;
    --bg-color: #121212;
    --lighter-text-color: rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 5px;
}

body {
    font-family: "Roboto", "IBM Plex Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: (var(--bg-color));
}

@mixin modalCloseBtn($mar, $pad) {
    position: absolute;
    top: 0;
    right: 0;
    padding: $pad !important;
    margin: $mar !important;
    background-color: #ddd !important;
    border-radius: 50% !important;
}

.color-primary {
    color: var(--primary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.modal-center {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.hover\:brightness {
    &:hover {
        filter: brightness(0.9);
    }
}
.color-gray {
    color: var(--lighter-text-color);
}
